.form {
    font-weight: bold;
    margin: 100px 0 100px 0;
    width: 30%;
    background-color: #e5fdef;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: ease-in-out 500ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-input, .email-input, .message-input{
    margin: 30px 20% 30px 20%;
}

.form-control {
    border: 3px solid!important;
}

.form-control:focus {
    box-shadow: none;
}

form button {
    margin: 0 100px 20px;
}