.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: 300px 0 100px 0;
    width: 30%;
    background-color: #efeeee;
    border-radius: 10px;
    transition: ease-in-out 500ms;
    box-shadow: -0.3em -0.3em 0.5em #ffffff,
    0.3em 0.3em 0.5em #d1cdc7;
}

.name-sec, .email-sec, .message-sec{
    margin: 30px 20%;
    transition: ease-in-out 500ms;

    & > label {
        margin-left: 10px;
    }
}

.form-control {
    background: transparent;
    border-radius: 50px;
    border: solid 1px #efeeee!important;
    box-shadow: inset 0em -0.3em 0.5em #ffffff,
    inset 0em 0.3em 0.5em #d1cdc7;
}

.form-control:focus {
    background: transparent;
    box-shadow: inset 0em -0.3em 0.5em #ffffff,
    inset 0em 0.3em 0.5em #d1cdc7;
}

form button {
    margin: 0 94px 20px;
    color: rgba(0, 52, 105, 0.75)!important;
    background: transparent!important;
    border: solid 1px #efeeee!important;
    box-shadow:  -0.3em -0.3em 0.5em #ffffff,
    0.3em 0.3em 0.5em #d1cdc7;
}