:root {
    --darkMode-font: #aaa0a0;
    --darkMode-background: #272d2f;
}

/* --------------------------------------- */
/* Header dark mode */

.Dark .center-nav .header-span {
    color: var(--darkMode-font);
}

.Dark .header {
    color: var(--darkMode-lights);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0));
    backdrop-filter: blur(25px);
   -webkit-backdrop-filter: blur(25px);;
   box-shadow: 
   inset 0 0 0.3em rgba(255, 255, 255, 0.1),
   0 0.3em 0.6em rgba(0, 0, 0, 0.4),
   0 0.1em 0.2em rgba(255, 255, 255, 0.1);
    transition: ease-in-out 500ms;
}

.Dark .profile img {
    border: solid 5px rgba(0, 0, 0, 0.4);
    box-shadow: 
    inset 0 0 0.3em rgba(255, 255, 255, 0.1),
    0 0.3em 0.6em rgba(0, 0, 0, 0.4),
    0 0.1em 0.2em rgba(255, 255, 255, 0.1);
    transition: ease-in-out 500ms;
}

.Dark .right-nav .links p {
    color: #aaa0a0;
    box-shadow: 
    inset 0 0 0.3em rgba(255, 255, 255, 0.1),
    inset 0 0.3em 0.6em rgba(0, 0, 0, 0.4),
    0 0.1em 0.2em rgba(255, 255, 255, 0.1);
    transition: ease-in-out 500ms;
}

/* --------------------------------------- */
/* Home dark mode */

.Dark {
    background-color: var(--darkMode-background);
    transition: ease-in-out 500ms;
}

.Light {
    background-color: #efeeee;
    transition: ease-in-out 500ms;
}

.Dark .info {
    color: #aaa0a0;
    background-color: var(--darkMode-background);
    box-shadow: inset -0.3em -0.3em 0.5em #373d42,
    inset 0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;
}

.Dark .painting {
    border: solid 10px #272d2f;
    box-shadow: -0.3em -0.3em 0.5em #373d42,
    0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;
}

.Dark .loading-screen {
    color: var(--darkMode-font);
}

.Dark .painting:hover {
    transform: translate(0, -15px);
    transition: ease-in-out 200ms;
}

/* -------------------------------------------- */
/* Sets dark mode */

.Dark .paintingSets {
    border: solid 10px #272d2f;
    box-shadow: -0.3em -0.3em 0.5em #373d42,
    0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;
}

.Dark .infoSets {
    color: #aaa0a0;
    background-color: var(--darkMode-background);
    box-shadow: inset -0.3em -0.3em 0.5em #373d42,
    inset 0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;
}

.Dark .paintingSets:hover {
    transition: ease-in-out 200ms;
}

/* -------------------------------------------- */
/* Footer dark mode */

.Dark footer {
    color: var(--darkMode-font);
    background-color: var(--darkMode-background);
    box-shadow: -0.3em -0.3em 0.5em #373d42,
    0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;

}

/* -------------------------------------------- */
/* Connect dark mode */

.Dark .form {
    color: var(--darkMode-font);
    background-color: var(--darkMode-background);
    box-shadow: -0.3em -0.3em 0.5em #373d42,
    0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;
}

.Dark .form-control {
    color: var(--darkMode-font);
    border-radius: 50px;
    border: solid 1px var(--darkMode-background)!important;
    box-shadow: inset -0.3em -0.3em 0.5em #373d42,
    inset 0.3em 0.3em 0.5em #1c1e22;
    background: transparent;
}

.Dark .form-control:focus {
    background: transparent;
    box-shadow: inset -0.3em -0.3em 0.5em #373d42,
    inset 0.3em 0.3em 0.5em #1c1e22;
    caret-color: white;
}

.Dark form button {
    color: var(--darkMode-font)!important;
    background: transparent!important;
    border: solid 1px var(--darkMode-background)!important;
    box-shadow: -0.3em -0.3em 0.5em #373d42,
    0.3em 0.3em 0.5em #1c1e22;
}

/* -------------------------------------------- */
/* Showroom dark mode */

.Dark .showroom-main {
    background-color: var(--darkMode-background);
    transition: ease-in-out 500ms;
}

.Dark .information {
    color: #efeeee;
    border: solid 5px var(--darkMode-background);
    box-shadow: -0.3em -0.3em 0.5em #373d42,
    0.3em 0.3em 0.5em #1c1e22, inset -0.3em -0.3em 0.5em #373d42,
    inset 0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;
}

.Dark .showroom {
    margin: 0;
    padding: 20px;
    box-shadow: -0.3em -0.3em 0.5em #373d42,
    0.3em 0.3em 0.5em #1c1e22;
    transition: ease-in-out 500ms;
}

.Dark .information button {
    background: transparent;
    color: var(--darkMode-font);
    border: solid 2px #efeeee;
    box-shadow:  inset -0.3em -0.3em 0.5em #373d42,
    inset 0.3em 0.3em 0.5em #1c1e22;
    border: none;
}

.Dark .name p {
    color:  #efeeee;
}