footer {
    background-color: #e5fdef;
    color: rgba(0, 52, 105, 0.75);
    transition: ease-in-out 500ms;
    border-radius: 50px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}

.bio .container {
    margin-top: 0!important;
}

.bio .container .bio-text {
    font-weight: bolder;
}