:root {
    --main-background: #e5fdef;
}

/* Header settings */
.header {
    width: 100vw;
    background-color: var(--main-background);
    margin-top: -40px;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    transition: transform ease-in-out 500ms;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}

/* Profile */
.profile img {
    border-radius: 20px;
    border: solid 5px black;
    margin: 40px 0 0 20px;
}

/* "Avigails Paintings" */
.header-span {
    font-size: 80px;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

.right-nav {
    padding-top: 40px;
}

.btn-md {
    font-family: "Grey Qo", cursive;
    border-radius: 15%;
    background-color: white;
    color: gray;
    margin-left: 60.64;

}

.btn-md.btn-secondary:focus,
.btn-md.btn-secondary:hover,
.btn-md.btn-secondary:active {
    box-shadow: none!important;
    outline: none!important;
    background-color: white!important;
    color: gray!important;
}