:root {
    --main-background: #e5fdef;
}

/* Header settings */
.header {
    width: 100vw;
    background-color: var(--main-background);
    margin-top: -40px;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    transition: transform ease-in-out 500ms;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}

/* Profile */
.profile img {
    border-radius: 20px;
    border: solid 5px black;
    margin: 40px 0 0 20px;
}

/* "Avigails Paintings" */
.header-span {
    font-size: 80px;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

.right-nav {
    padding-top: 40px;
}

.main-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 3px 3px 5px black, -3px -3px 5px black, -3px 3px 5px black, 3px -3px 5px black;
}
  
.window {
    height: 70%;
    width: 85%;
    background-color: var(--main-background);
    border-radius: 20px;
    box-shadow: 3px 3px 5px black, -3px -3px 5px black, -3px 3px 5px black, 3px -3px 5px black;
    cursor: pointer;
}

.window p {
    margin: 0;
    font-family: "Grey Qo", cursive;
}
  
.window:active {
    box-shadow: none;
    border: 3px solid black;
}

.menu-list {
    margin-right: 10px;
    font-weight: bold;
    font-size: larger;
}

.menu-list a {
    text-decoration: none;
    color: black;
}