/* Header settings */
.header {
    background-color: #e5fdef;
    margin-top: -40px;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    transition: ease-in-out 500ms;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}

/* Profile */
.profile img {
    border-radius: 20px;
    border: solid 5px black;
    margin: 40px 0 0 20px;
}

/* "Avigails Paintings" */
.header-span {
    font-size: 80px;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Menu button area*/
.dropdown2 {
    padding-top: 40px;
    margin-left: 59.418px;
}

/* Menu button */
.dropdown2 .menuBtn {
    color: white;
    border-radius: 50%;
    background-color: black;
}

.dropdown2 .menuBtn:focus {
    box-shadow: none;
    border: none;
    background-color: black;
    color: white;
}

/* Color mode button */
.dropdown2 .menuList button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

/* Menu links */
.dropdown2 .menuList a {
    color: black;
    text-decoration: none;
}
