@media screen and (max-width: 768px) {
    .header-span {
        font-size: 60px;
    }

    img {
        height: 60px;
    }

    .profile img {
        display: none;
    }

    .header {
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .dropdown2 {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .header-span {
        font-size: 40px;
    }

    img {
        height: 40px;
    }

    .center-nav {
        padding-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .header-span {
        font-size: 40px;
    }

    img {
        height: 40px;
    }
    
    .center-nav {
        padding-top: 20px;
    }

    .dropdown2 button {
        font-size: small;
    }
}

@media screen and (max-width: 400px) {
    .header-span {
        font-size: 40px;
    }

    img {
        height: 40px;
    }

    .center-nav {
        padding-top: 20px;
    }

    .dropdown2 button {
        font-size: x-small;
    }
}