@font-face {
    font-family: 'customFont';
    src: url(../fonts/highjumpFont.woff2);
    font-weight: normal;
    font-style: normal; 
}

:root {
    --main-background: #e5fdef;
}

/*-------------- Header settings */

.header {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    background:
    linear-gradient(135deg, rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0));
    backdrop-filter: blur(25px);
   -webkit-backdrop-filter: blur(25px);
    border-radius: 20px;
    box-shadow: inset 0 0 0.3em rgba(255, 255, 255, 0.4),
    0 0.4em 0.6em rgba(0, 0, 0, 0.05),
    0 0.1em 0.2em rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: scale(0.98);
    transition: all 0.3s ease-in-out;
}

.header.shrink {
    padding: 0.5rem !important;
    margin-top: 5px;
}

.header.shrink .profile img {
    height: 140px !important;
}

.header.shrink .header-span {
    font-size: 50px;
}

.header.shrink .center-nav img {
    height: 40px !important;
}

.header.shrink .right-nav .links {
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.header.shrink .right-nav .links p {
    padding: 8px;
    margin: 3px;
    font-size: x-small;
    transition: all 0.3s ease-in-out;
}

/*--------------- Profile */
.profile img {
    margin: 0px;
    border-radius: 20px;
    border: solid 5px rgba(0, 0, 0, 0.05);
    box-shadow:
    inset 0 0 0.3em rgba(255, 255, 255, 0.4),
    inset 0 0.4em 0.6em rgba(0, 0, 0, 0.05),
    0 0.1em 0.2em rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease-in-out;
}

.profile {
    flex: 1;
    max-width: 30%;
}

/*--------------- "Avigails Paintings" */
.header-span {
    font-size: 80px;
    font-family: "Grey Qo", cursive;
    font-weight: 100;
    font-style: normal;
    cursor: default;
    color: black;
    transition: all 0.3s ease-in-out;
}

.center-nav a {
    text-decoration: none;
    cursor: default;
    margin-bottom: 20px;
}

.center-nav {
    flex: 1;
    max-width: 40%;
}

.center-nav img {
    transition: all 0.3s ease-in-out;
}

/*-------------------- Menu buttons */
.right-nav .links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-nav .links a {
    text-decoration: none;
}

.right-nav .links p {
    color: black;
    cursor: pointer;
    font-family: 'customFont';
    font-size: x-small;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    box-shadow:
    inset 0 0 0.3em rgba(255, 255, 255, 0.4),
    inset 0 0.4em 0.6em rgba(0, 0, 0, 0.1),
    0 0.1em 0.2em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.right-nav {
    flex: 1;
    max-width: 30%;
    float: right;
}