.canvas {
    height: 300px;
    margin: 50px 50px 10px 50px;
    position: relative;
}

.painting {
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    border: 10px solid #efeeee;
    cursor: pointer;
    transition: ease-in-out 200ms;
    box-shadow: -0.3em -0.3em 0.5em #ffffff,
    0.3em 0.3em 0.5em #d1cdc7;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #efeeee;
    margin: 0 0 50px 0;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 500ms;
    color: rgba(0, 52, 105, 0.75);
    box-shadow: inset -0.3em -0.3em 0.5em #ffffff,
    inset 0.3em 0.3em 0.5em #d1cdc7;
}

.info p {
    margin: 0;
    font-weight: bold;
    line-height: 2rem;
}

.info button {
    border-radius: 15%;
    color: black;
    background-color: white;
    border-color: black;
    font-family: "Grey Qo", cursive;
    line-height: 50px;
    font-size: xx-large;
}

.painting:hover {
    /* box-shadow: 6px 6px 10px 3px #595959, -6px 6px 10px 3px #595959, -6px -6px 10px 3px #595959, 6px -6px 10px 3px #595959; */
    transform: translate(0, -15px);
}

.landscape {
    height: auto;
    width: 100%;
}
