.canvasSets {
    width: 300px;
    margin: 50px 0 0;
}

.paintingSets {
    border-radius: 20px 20px 20px 20px;
    border: 10px solid #e5fdef;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.infoSets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #e5fdef;
    margin: 0 0 50px 0;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 500ms;
}

.infoSets p {
    margin: 0;
    font-weight: bold;
    line-height: 2rem;
}

.infoSets button {
    border-radius: 15%;
    color: black;
    background-color: white;
    border-color: black;
    font-family: "Grey Qo", cursive;
    line-height: 50px;
    font-size: xx-large;
}

.paintingSets:hover {
    box-shadow: 6px 6px 10px 3px #595959, -6px 6px 10px 3px #595959, -6px -6px 10px 3px #595959, 6px -6px 10px 3px #595959;
}

.paintingSets.portrait {
    height: 300px;
    margin-left: 21.5px;
}

.paintingSets.landscape {
    width: 300px;
}