@media screen and (max-width: 1400px) {
    .canvasSets {
        width: 200px;
    }

    .paintingSets.portrait {
        height: 200px;
    }
    
    .paintingSets.landscape {
        width: 200px;
    }
}