.showroomMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.showroom {
    margin: 0;
    padding: 30px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 700px;
    border: solid 30px black;
}

.backButton {
    margin: 20px 0 0 50px;
}

.backButton p {
    cursor: pointer;
}

.size {
    margin-left: 47%;
}