@media screen and (max-width: 1600px) {
    .image.landscapeShow {
        height: 600px;
    }

    .image.portraitShow {
        height: 600px;
    }

    .image.wideShow {
        height: 250px;
    }
}

@media screen and (max-width: 1400px) {
    .showroom-main {
        margin-top: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .information {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .image.landscapeShow {
        width: 700px;
        height: auto;
    }

    .image.portraitShow {
        height: 700px;
        max-width: 362.28px;
    }

    .image.wideShow {
        height: 250px;
    }

    .backButton {
        margin: 20px 0;
    }
}

@media screen and (max-width: 1100px) {
    .image.wideShow {
        height: 200px;
    }
}

@media screen and (max-width: 820px) {
    .image.landscapeShow {
        width: 600px;
        height: auto;
    }

    .image.portraitShow {
        height: 700px;
    }

    .image.wideShow {
        height: 150px;
    }
}

@media screen and (max-width: 768px){
    .image.landscapeShow {
        width: 362.28px;
        height: auto;
    }

    .image.portraitShow {
        height: 450px;
    }

    .image.wideShow {
        height: 150px;
    }

    .backButton {
        margin: 20px 0;
    }
}

@media screen and (max-width: 550px) {
    .image.wideShow {
        height: 100px;
    }
}

@media screen and (max-width: 400px) {
    .image.landscapeShow {
        width: 350px;
        height: auto;
    }

    .image.portraitShow {
        height: 400px;
    }

    .image.wideShow {
        height: 100px;
    }
}